.program{
    background-color: #F41F52;
    padding-top: 60px;
    padding-bottom: 200px;
    &__title{
        font-size: 62px;
        line-height: 94%;
        color: #FFFFFF;
    }
    &__text{
        font-size: 34px;
        line-height: 120%;
        color: #FFFFFF;
        margin-top: 80px;
    }
    &__block{
        margin-top: 50px;
    }
    &__item{
        background-color: #FFFFFF;
        cursor: pointer;
        padding: 30px 60px;
        margin-bottom: 30px;
        &-nmb{
            font-weight: 450;
            font-size: 60px;
            line-height: 60px;
            color: #FF8D38;
        }
        &-arrow{
            flex-shrink: 0;
            img{
                transform: rotate(180deg);
                transition: 0.6s;
            }
        }
        &-title{
            font-weight: 300;
            font-size: 45px;
            line-height: 42px;
            color: #000000;
            width: 100%;
            padding-left: 50px;
        }
        &-list{
            margin-left: 110px;
            li{
                font-weight: 300;
                font-size: 34px;
                line-height: 42px;
                color: #000000;
                position: relative;
                padding-left: 55px;
                padding-top: 5px;
                padding-bottom: 10px;
                &:before{
                    content: '';
                    width: 40px;
                    height: 30px;
                    background: url("../img/program/check.svg")center center no-repeat;
                    background-size: contain;
                    position: absolute;
                    top: 10px;
                    left: 0;
                }
            }
        }
        &-head{
			display: flex;
            justify-content: space-between;
            align-items: center;
		}
		&-content{
			height: 0;
			overflow: hidden;
			transition: height 0.6s ease;
		}
		&.active{
			.program__item-arrow img{
				transform: rotate(0deg);
			}
		}
    }
}

