<?php 

{% set data = [

{
    nmb: '01',
    title: 'Лидерство',
    list: '
    <li>Предпринимательство как образ жизни</li>
    <li>Качества, формирующие личность лидера</li>
    <li>Целеполагание</li>
    '
},
{
    nmb: '02',
    title: 'Ораторство',
    list: '
    <li>Выступление на публике</li>
    <li>Поведение на сцене и ораторское мастерство</li>
    <li>Месседж и алгоритм яркой речи</li>
    <li>Создание личного бренда</li>
    '
},
{
    nmb: '03',
    title: 'Ведение бизнеса
    ',
    list: '
    <li>Идея, модель и процессы ведения бизнеса</li>
    <li>Упаковка бизнеса и его продвижение</li>
    <li>Эффективная технология продаж</li>
    <li>Финансовая грамотность</li>
'
}


]%}