.contacts{
    padding: 75px 0 50px;
    &__title{
        text-align: left;
        color: #ffffff;
    }
    &__block{

    }
    &__item{
        margin-top: 35px;
        position: relative;
        &-title{
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.3em;
            color: #ededed;
        }
        &-link{
            display: inline-block;
            font-size: 18px;
            line-height: 22px;
            color: #ffffff;
            padding: 15px 0;
            &:hover,
            &:active,
            &:visited{
                opacity: 1;
                color: #ffffff;
            }
        }
        &:before{
            content: '';
            width: 25px;
            height: 2px;
            background-color: #595959;
            position: absolute;
            bottom: -15px;
        }
        &:last-child{
            &:before{
                display: none;
            }
        }
    }
    &__form{
        max-width: 750px;
        .form__item {
            width: 36%;
        }
        .form__button {
            width: 24%;
        }
    }
}

