<?php


{% set data = [
{
    pic: 'img/skills/pic-01.jpg',
    title: 'HTML'
},
{
    pic: 'img/skills/pic-02.jpg',
    title: 'SCSS'
},
{
    pic: 'img/skills/pic-03.jpg',
    title: 'JS/Jquery'
},
{
    pic: 'img/skills/pic-04.jpg',
    title: 'Gulp'
},
{
    pic: 'img/skills/pic-05.jpg',
    title: 'Git'
},
{
    pic: 'img/skills/pic-06.jpg',
    title: 'БЭМ'
},
{
    pic: 'img/skills/pic-07.jpg',
    title: 'Fancybox'
},
{
    pic: 'img/skills/pic-08.jpg',
    title: 'Bootstrap'
},
{
    pic: 'img/skills/pic-09.jpg',
    title: 'Swiper'
},
{
    pic: 'img/skills/pic-10.jpg',
    title: 'PHP'
},
{
    pic: 'img/skills/pic-11.jpg',
    title: 'Figma'
}

]%}
