.about{

	@media (max-width: 1200px) {
		&__content-main {
			opacity: 0;
			width: 65%;
			padding-left: 80px;
		}
	}

	@media(max-width:992px){
		&__content{
			&-main {
				padding-left: 90px;
			}
			&-aside_pic{
				width: 285px;
				height: 285px;
				&:before{
					width: 315px;
					height: 315px;
					top: -43px;
					left: -35px;
				}
			}
			&-title {
				font-size: 44px;
				line-height: 50px;
			}
			&-text{
				font-size: 24px;
				max-width: 405px;
			}
		}
	}

	@media(max-width:768px){
		&__content-title {
			font-size: 44px;
			line-height: 52px;
		}
		&__content-text{
			font-size: 20px;
			line-height: 26px;
			margin-top: 25px;
		}
	}

	@media(max-width:730px){
		&__content{
			flex-direction: column;
			&-main,
			&-aside{
				width: 100%;
			}
			&-main{
				text-align: right;
				padding: 0;
				margin-top: 35px;
			}
			&-text{
				margin-left: auto;
			}
		}
	}

	@media(max-width:415px){
		&__content{
			min-height: 590px;
			&--start{
				width: 65px;
				min-height: 65px;
			}
		}
		&__content-aside_pic {
			margin: 0 auto;
		}
		&__content-main {
			text-align: center;
		}
	}
	@media(max-width:400px){
		&__content {
			min-height: 500px;
			padding: 50px 15px 35px;
			&--start{
				min-height: 65px;
			}
		}
		&__content-aside_pic {
			width: 250px;
			height: 250px;
			&:before{
				width: 260px;
				height: 260px;
				top: -32px;
				left: -25px;
			}
		}
		&__content-title {
			font-size: 36px;
			line-height: 40px;
		}
		&__content-text {
			font-size: 18px;
			line-height: 24px;
			margin-top: 15px;
		}
	}
}
