.portfolio{
    @media (max-width: 992px) {
        &__item-title{
            font-size: 14px;
        }
    }
    @media (max-width: 768px) {
        &__content{
            grid-gap: 20px;
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media (max-width: 576px) {
        &__content{
            grid-gap: 10px;
            grid-template-columns: 1fr 1fr;
        }
        &__block{
            padding: 65px 25px;
        }
        &__item{
            font-size: 14px;
        }
    }
}