<?php


{% set data = [
{
    url: 'https://synergy.ru/lp/triz/webinar',
    pic: 'pic-20.jpg',
    title: 'triz-webinar'
},
{
    url: 'https://moicapital.ru/',
    pic: 'pic-19.jpg',
    title: 'moicapital'
},
{
    url: 'https://synergy.ru/lp/sport/v1/',
    pic: 'pic-18.jpg',
    title: 'sport'
},
{
    url: 'https://open-skolkovo.ru/',
    pic: 'pic-21.jpg',
    title: 'skolkovo'
},
{
    url: 'https://intellect.synergy.ru/',
    pic: 'pic-01.jpg',
    title: 'intellect.synergy'
},
{
    url: 'https://synergyproduction.ru/',
    pic: 'pic-09.jpg',
    title: 'synergyproduction'
},
{
    url: 'https://synergydigital.com/lp/marketplaces/',
    pic: 'pic-17.jpg',
    title: 'marketplaces'
},
{
    url: 'https://synergyclub.ru/',
    pic: 'pic-16.jpg',
    title: 'synergyclub'
},
{
    url: 'https://synergydigitalacademy.ru/lp/smmforbusiness/',
    pic: 'pic-02.jpg',
    title: 'smmforbusiness'
},

{
    url: 'https://edurosv.ru/',
    pic: 'pic-04.jpg',
    title: 'edurosv.ru'
},
{
    url: 'https://synergy.ru/lp/design/',
    pic: 'pic-05.jpg',
    title: 'design'
},
{
    url: 'https://synergy.online/lp/turizm/',
    pic: 'pic-08.jpg',
    title: 'turizm'
},
{
    url: 'https://programiss.ru/',
    pic: 'pic-06.jpg',
    title: 'programiss'
},
{
    url: 'https://kids.synergy.ru/',
    pic: 'pic-03.jpg',
    title: 'kids.synergy'
},
{
    url: 'https://synergy.online/lp/ulanude/',
    pic: 'pic-10.jpg',
    title: 'ulanude'
},
{
    url: 'https://brain2020.ru/',
    pic: 'pic-12.jpg',
    title: 'brain2020'
},
{
    url: 'https://mixtrainingcamp.ru/',
    pic: 'pic-11.jpg',
    title: 'mixtrainingcamp'
},
{
    url: 'https://synergybelfort.ru/',
    pic: 'pic-13.jpg',
    title: 'synergybelfort'
},
{
    url: 'https://synergy.ru/bs/self-employed/',
    pic: 'pic-14.jpg',
    title: 'self-employed'
},
{
    url: 'https://arsenaldigital.ru/',
    pic: 'pic-07.jpg',
    title: 'arsenaldigital'
},
{
    url: 'https://synergy.ru/agency/',
    pic: 'pic-15.jpg',
    title: 'Speakers Agency'
}

]%}
