.thanks{
	@media(max-width:1200px){
		
	}
	@media(max-width:992px){
		
	}
	@media(max-width:768px){
		min-height: calc( 100vh - 200px);
	}

	@media(max-width:576px){
		min-height: calc( 100vh - 133px);
		padding: 50px 0;
		&:before{
			content: '';
			width: 250px;
			height: 250px;
			background: url("../img/main/decoration-left.svg") center center no-repeat;
			background-size: contain;
			position: absolute;
			top: 0;
			left: -70px;
			z-index: -1;
		}
		&:after{
			content: '';
			width: 250px;
			height: 250px;
			background: url("../img/main/decoration-right.svg") center center no-repeat;
			background-size: contain;
			position: absolute;
			bottom: 0;
			right: -90px;
			z-index: -1;
		}
		&__title {
			font-size: 46px;
		}
		&__description {
			font-size: 24px;
		}
		&__pic {
			margin: 0 auto;
			max-width: 95px;
		}
	}
	@media(max-width:340px){
		min-height: calc( 100vh - 100px);
	}
}
