.thanks{
    padding: 100px 0 50px;
    position: relative;
    font-weight: 400;
    color: #000000;
    text-align: center;
    min-height: calc( 100vh - 300px);
    &:before{
		content: '';
		width: 550px;
		height: 550px;
		background: url("../img/main/decoration-left.svg") center center no-repeat;
		background-size: contain;
		position: absolute;
		top: 0;
		left: -115px;
		z-index: -1;
	}
	&:after{
		content: '';
		width: 550px;
		height: 550px;
		background: url("../img/main/decoration-right.svg") center center no-repeat;
		background-size: contain;
		position: absolute;
		bottom: 0;
		right: -90px;
		z-index: -1;
	}
    .container{
        position: relative;
    }
    &__title{
       
        font-size: 62px;
        line-height: 94%;
        color: #000000;
        margin-bottom: 50px;
    }
    &__description{
        font-size: 42px;
        line-height: 94%;
        margin-bottom: 45px;
    }
    &__pic{
        margin: 0 auto;
    }
}

