.header{
	padding: 15px 0;
	width: 100%;
	position: fixed;
	z-index: 99999;
	background-color: #2D3333;
	transition: all 0.5s ease;
	&__fixed{
		box-shadow: 0px 8px 14px rgba(0,0,0,0.05);
	}
    &__nav{
        display: flex;
		justify-content: flex-end;
		&-mobile{
			display: none;
		}
        &-link{
            position: relative;
            font-weight: 600;
            color:#ffffff;
			margin-left: 30px;
            transform: scale(0);
			-webkit-animation: activeLink 0.5s ease 1;
			        animation: activeLink 0.5s ease 1;
            -webkit-animation-fill-mode: forwards;
					animation-fill-mode: forwards;
					-webkit-animation-delay: 1.5s;
					        animation-delay: 1.5s;

            &:before {
				content: '';
				width: 0;
				height: 2px;
				background-color: #ffffff;
				position: absolute;
				bottom: -2px;
				right: 0;
				transition: width 0.6s ease;
			}
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				width: 0;
				height: 2px;
				background-color:#ffffff;
				display: none;
				left: 0;
			}
			&:hover,
			&:focus {
				opacity: 1;
				color:#ffffff;
				outline: none;
				transition: all 0.6s ease;
				&::after {
					opacity: 1;
					background-color:#ffffff;
				}
				&::before {
					width: 100%;
					right: auto;
					left: 0;
				}
			}
        }
	}
	&__menu{
        display: none;
        .ham {
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            transition: transform 0.5s;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .hamRotate.active {
            transform: rotate(45deg);
        }
        .hamRotate180.active {
            transform: rotate(180deg);
        }
        .line {
            fill:none;
            transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
            stroke: #ffffff;
            stroke-width:6.5;
            stroke-linecap:round;

        }
        .hamR .top {
            stroke-dasharray: 40 121;
        }
        .hamR .bottom {
            stroke-dasharray: 40 121;
        }
        .hamR.active .top {
            stroke-dashoffset: -68px;
        }
        .hamR.active .bottom {
            stroke-dashoffset: -68px;
        }
    }
}
@-webkit-keyframes activeLink {
	0%{
		transform: translateY(-40px);
	}
	50%{
		transform: translateY(25px);
	}
	80%{
		transform: translateY(-10px);
	}
	100%{
		transform: translateY(0);
	}
}
@keyframes activeLink {
	0%{
		transform: translateY(-40px);
	}
	50%{
		transform: translateY(25px);
	}
	80%{
		transform: translateY(-10px);
	}
	100%{
		transform: translateY(0);
	}
}